body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #005B9E;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn:hover {
    background-color: #333;
  }
  